h1 {
    color: rgb(199, 226, 236);
}

.hot-chocolate,
.soup,
.scones {
    font-size: 20px;
}

.hot-chocolate {
    background-color: rgb(188, 75, 240);
    color: rgb(167, 238, 153);
}

.soup {
    background-color: rgb(238, 149, 186);
    color: black;
}

.scones {
    background-color: rgb(112, 221, 121);
    color:rgb(60, 60, 131)
}
